@value WrapperSize from '../../../commonCss/index.css';

.container {
    background-color: #f6f7fb;
    padding-bottom: 3rem;
}

.wrapper {
    margin: 0 auto;
    width: WrapperSize;
    position: relative;
}

.title {
    padding: 2.6rem 0 0;
}

.moreClass {
    position: absolute;
    top: 56px;
    right:0;
}

.moreClass:hover {
    text-decoration: underline;
 }

.classCardBox {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 31%;
    margin-top: 1.4rem;
}

.card:not(:nth-child(3n)){
    margin-right: 2.1rem;
}