.flex {
    display: flex;
}

.wrapper {
    border-top: 1px solid #efefef;
    padding: .8rem;
}

.profile {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: slategray;
    margin-right: .6rem;
}

.profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.login_id {
  font-size: 13px;
  font-weight: bold;
  line-height: .6rem;
  /* color: #555; */
}

.createdAt {
    color: #777;
    font-size: 14px;
}


.noReview {
    text-align: center;
    background-color: #efefef;
    padding: 1.6rem; 
}
