@value WrapperSize from '../../../commonCss/index.css';
@value FontWeightMid from '../../../commonCss/index.css';


.container {
    padding: 2rem 0;
}

.slider {
    display: block;
    width: 1170px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.leftGradiant,
.rigthGradiant {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 160px;
}

.leftGradiant {
    left: 0;
    background: linear-gradient(to left, transparent, #fff);
}

.rigthGradiant {
    right: 0;
    background: linear-gradient(to right, transparent, #fff);
}

.slides {
    display: flex;
    width: 2340px;
}

.ctg {
    width: 195px;
    text-align: center;
}

.ctgIcon {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 1.4rem;
    border-radius: 50%;
    background-color: #f9fafd;
    
}
.ctgIcon img  {
    width: 100%;
    height: 100%;
}

.ctgTitle {
    display: inline-block;
    margin: .4rem 0 0;
    font-weight: FontWeightMid;
}

/* slide 전후 네비게이션 */

.slidePrev,
.slideNext {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    margin-top: -22px;
    width: 45px;
    height: 45px;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 50px;
    z-index: 10;
}
.slidePrev {
    left: 0;
}

.slideNext {
    right: 0;
}
/* <, > 버튼 CSS */
.slidePrev::before,
.slideNext::before {
    position: absolute;
    top: 16px;
    width: 12px;
    height: 12px;
    content: '';
    display: block;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.slidePrev::before {
    left: 18px;
    transform: rotate(225deg);
}

.slideNext::before {
    right: 19px;
    transform: rotate(45deg);
}