.slideBefore,
.slideAfter {
    width: 45px;
    height: 45px;
}
.slideBefore {
    right: 45px;
    border-radius: 50px 0 0 50px;
}

.slideAfter {
    right: 0;
    border-radius: 0 50px 50px 0;
}
/* <, > 버튼 CSS */
.slideBefore::before,
.slideAfter::before {
    position: absolute;
    top: 16px;
    width: 12px;
    height: 12px;
    content: '';
    display: block;
    border-top: 2px solid #eee;
    border-right: 2px solid #eee;
}

.slideBefore::before {
    left: 24px;
    transform: rotate(225deg);
}

.slideAfter::before {
    right: 24px;
    transform: rotate(45deg);
}