@value WrapperSize from '../../../commonCss/index.css';


.wrapper {
    display: flex;
    margin: 2rem auto 0;
    width: WrapperSize;
}

.classCardBox{
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 48%;
    margin-top: 1.4rem;
}

.card:not(:nth-child(2n)) {
    margin-right: 2rem;
}