@value WrapperSize from '../../../commonCss/index.css';
@value BrandColor from '../../../commonCss/index.css';


.container {
    width: 100vw;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    width: WrapperSize;
    position: relative;
}

.title {
    padding: 2.6rem 0 1.8rem;
}

.subTitle {
    font-size: 28px;
    margin: 0 0 .4rem;
}

.slideBox {
    position: absolute;
}

.slidesTxt {
    position: relative;
    width: 280px;
}

.slidesTxt > span {
    display: inline-block;
    margin: 3.8rem 0 1rem;
    color: BrandColor;
}

