@value WrapperSize from '../../../commonCss/index.css';


.wrapper {
    margin: 0 auto;
    width: WrapperSize;
    border: 1px solid green;
}

.container {
    border: 1px solid rgb(112, 90, 114);
}
