@value FontWeightBold from '../../../../commonCss/index.css';

.wrapper {
    background-color: rgba(0, 0, 0, 0.7);
    position:fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

.container {
  position:relative;
  display: flex;
  justify-content: center;
}

.containerInner {
    position: absolute;
    margin: 20rem 0 0;
    padding: 2rem 3rem 3rem;
    width:500px;
    background-color: #fdffff;
    text-align: center;
    border-radius: 1rem;
}

/* 닫기 버튼 */
.closeBtn {
    position: relative;
    margin: 17rem 0 0 28rem;
    width: 40px;
    height: 40px;
}

.closeBtn::before ,
.closeBtn:after {
    position: absolute;
    width: 48px;
    height: 1px;
    left: 50%;
    top: 50%;
    content:'';
    background-color: #fff;
}

.closeBtn::before{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.closeBtn:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.checkIcon {
    width: 40px;
    height: 40px;
    color: #6eb36e;
}

.msg {
    padding: 1.4rem 0 0;
    font-size: 18px;
    font-weight: FontWeightBold;
}